.main-slider {
  position: relative;

  margin-top: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 88px;
  }
  &__right {
    max-width: 600px;
    background-color: $white;
    overflow: hidden;
  }
  &__image {
    width: 260px;
    img {
      width: 100%;
    }
  }
  &__list {
    padding: 30px 0;
    li {
      cursor: pointer;
      font-family: "Roboto Slab", sans-serif;
      font-size: 24px;
      line-height: 32px;
      color: $black;
      transition: transform 0.25s ease;

      &.active {
        color: $blue;
        font-size: 36px;
        line-height: 47px;
        font-weight: bold;
      }
    }
    li + li {
      margin-top: 30px;
    }
  }
  &__block:not(:last-child) {
    display: flex;
    justify-content: space-between;
  }
  &__point {
    margin-bottom: 30px;
  }
  &__text {
    h3 {
      font-family: "Roboto Slab", sans-serif;
      color: $blue;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
      &.big {
        font-size: 24px;
        line-height: 32px;
      }
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__more {
    width: 300px;
    height: 55px;
    border: 1px solid $blue;
    margin-top: 30px;
    color: $blue;
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    border-radius: 20px;
  }
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  transform: none;
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.swiper-pagination-bullet {
  display: block;
  color: $blue;
  text-align: center;
  list-style: none;
  margin: 0;
  width: auto;
  height: auto;
  border-radius: none;
  opacity: 1;
  color: $black;
  background: $white;
  outline: none;
  &.swiper-pagination-bullet-active {
    font-weight: bold;
    transform: scale(1.2);

    color: $blue;
  }
}

.fish-1 {
  position: absolute;
  top: 20px;
  left: 10%;
  animation: go 2s ease alternate infinite backwards;
}
.fish-2 {
  position: absolute;
  transform: rotate(50deg);
  right: 30px;
  bottom: 30px;
  animation: go 1.3s ease alternate infinite backwards;
}
.fish-3 {
  position: absolute;
  z-index: 10;
  bottom: -100px;
  left: 40%;
  animation: go 4s ease alternate infinite backwards;
}
.fish-4 {
  width: 100px;
  animation: go 1s ease alternate infinite backwards;
}

@keyframes go {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@media screen and (max-width: 1023px) {
  .main-slider {
    margin-top: 20px;
    &__inner {
      display: block;
    }
    &__left {
      max-width: 100%;
      flex-direction: row;
      margin: 0;
    }
    .down,
    .up {
      transform: rotate(-90deg);
    }
    &__list {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;
      li {
        flex: 0 0 200px;
      }
    }
    &__right {
      margin: 50px 0;
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 590px) {
  .fish-1,
  .fish-2,
  .fish-3,
  .fish-4 {
    display: none;
  }
  .main-slider {
    margin-bottom: 50px;
    button {
      display: none;
    }
    &__left {
      display: none;
    }
    &__list {
      li {
        text-align: left;
        font-size: 20px;
      }
    }
    &__block:not(:last-child) {
      flex-direction: column;
      align-items: center;
    }
    &__text {
      align-self: start;
    }
    &__image {
      margin-bottom: 20px;
    }
  }
}
