.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &__image {
    width: 60%;
    height: 350px;
    background: url(../../img/mountain.jpg) no-repeat center center / cover;
  }
  &__text {
    padding: 20px;
    h4 {
      font-family: "Roboto Slab", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;

      color: $blue;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: $black;
    }
    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
